*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
body { width: 100%; min-height: 100%; overflow-x: hidden; font-family: monospace; }

:root { --accent: #C8F135; }

/* Accent color transitions */
.t-accent {
    transition: color .5s ease, background-color .5s ease, border-color .5s ease, box-shadow .5s ease;
}