body {
  background-image: url('../img/bg1.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
}

.main {
    width: 100%;
    height: 100vh;
}

.test1 {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.test2 {
    margin: 0%;
    padding: 5%;
    color: white;
}

.test3 {
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}

.centering {
    text-align: center;
    padding-top: 20%;
    color: white;
}

.fadeinMain {
    font-size: 60px;
    color: white;
    margin: 0;
    animation: fadein 2s;
}

.fadeinSub{
    font-size: 20px;
    color: white;
    margin: 0;
    animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}