        
        /* removes the underscore of links and keeps them clean even after having pressed them */
        .link{
            color: purple;
            background-color: none;
            font-family: 'Lato', sans-serif;
            text-decoration: none
        }

        /* .name1 and .namesub2 prevents .name from cutting off part of .namesub */
        .name{
            color: #ffff;
            text-align: center;
            font-size: 65px;
            font-family: 'Major Mono Display', sans-serif;
            -webkit-animation: fadein 4s;
            -moz-animation: fadein 4s;
            -ms-animation: fadein 4s;
            -o-animation: fadein 4s;
            animation: fadein 4s;
            /* text-transform: uppercase; */
        }

        .name1 {
                    margin:-15px;
                }

        .namesub{
            color: #ffff;
            text-align: center;
            margin-top: -5px;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            -webkit-animation: fadein 4s; 
            -moz-animation: fadein 4s; 
            -ms-animation: fadein 4s;
            -o-animation: fadein 4s;
            animation: fadein 4s;
            text-transform: uppercase;
        }
        
        .namesub2 {
            margin: 20px;  
            font-size: 30px;  
            line-height: 30px;
        }

        /* general */

        header {
            margin-top: 27.5%;
            margin-bottom: 30%;
        }

        .navbar {
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .navbar a {
            float: right;
            font-family: 'lato', sans-serif;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Text and images */

        .titleText {
            color: #ffff;
            text-align: center;
            font-size: 50px;
            font-family: 'Lato', sans-serif;
        }

        .titleSubText {
            color: #ffff;
            text-align: center;
            font-size: 30px;
            font-family: 'Lato', sans-serif;
        }

        .subTextNoIMG {
            color: #ffff;
            text-align: center;
            font-size: 100px;
            font-family: 'Lato', sans-serif;
        }

        .subIMG {
            margin-left: 5%;
            margin-right: 10%;
            width: 35%;
            float: right;
        }

        .frontText {
            color: #ffff;
            font-family: 'lato', sans-serif;
            text-align: center;
        }

        .subtext {
            margin-left: 10%;
            margin-right: 5%;
            width: 35%;
            float: left;
            word-wrap: break-word;

            color: #f2f2f2;
            font-size: 20px;
            font-family: 'lato', sans-serif;
            text-align: center;
        }

        .mainTEXT {
            color: #ffff;
            font-family: 'Major Mono Display', sans-serif;
            font-size: 350%;
            margin-top: -10%;
            text-align: center;
        }

        /* Code skills bar */

        .html {width: 85%; background-color: purple;}
        .css {width: 75%; background-color: purple;}
        .javascript {width: 60%; background-color: purple;}
        .php {width: 80%; background-color: purple;}

        .container {
            margin-left: 25%;
            width: 50%;
            background-color:gray;
          }
          
          .skills {
            font-size: 20px;
            font-family: 'lato';
            text-align: right;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
          }
        
        /* to fade in the text so that the slide can go in smooth. */
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        /* Removes scrollbar */
        /* ::-webkit-scrollbar { 
            display: none;
        } */