body {
    background-color: #181818;
    margin-left: 10%;
    margin-right: 20%;
}

.onderdeelText {
    color: #ffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.navText {
    margin-right: 3%;
    color: #ffff;
    font-family: 'Lato', sans-serif;
    float: left;
}

.bodyText {
    margin-left: 13.9%;
}

.navText2 {
    color: #ffff;
    font-family: 'Lato', sans-serif;
}

.pageMargin {
    margin-top: 50%;
    margin-bottom: 50%;
}

.specialTopMargin {
    margin-top: 25%;
}

.specialBotMargin {
    margin-bottom: 35%;
}

html {
    scroll-behavior: smooth;
}

#section1 {

}

#section2 {
    padding-top: 300px;
}

#section3 {
    padding-top: 300px;
}

#section4 {
    padding-top: 300px;
}

#section5 {
    padding-top: 300px;
}

#section6 {
    padding-top: 300px;
}

#section7    {
    padding-top: 300px;
}
